<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>remote</servlet-name>
        <servlet-class>
            com.google.apphosting.utils.remoteapi.RemoteApiServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>remote</servlet-name>
        <url-pattern>/_ah/remote_api</url-pattern>
    </servlet-mapping>

    <!--
        // in case of no guice config
        <servlet>
            <servlet-name>EndpointsServlet</servlet-name>
            <servlet-class>com.google.api.server.spi.EndpointsServlet</servlet-class>
            <init-param>
                <param-name>services</param-name>
                <param-value>org.somecompany.api.DemoEndpoint</param-value>
            </init-param>
            <init-param>
                <param-name>restricted</param-name>
                <param-value>false</param-value>
            </init-param>
            <load-on-startup>1</load-on-startup>
        </servlet>
        <servlet-mapping>
            <servlet-name>EndpointsServlet</servlet-name>
            <url-pattern>/_ah/api/*</url-pattern>
        </servlet-mapping>
    -->

    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.somecompany.api.guice.ServletContext</listener-class>
    </listener>

    <!--
        <filter>
            <filter-name>endpoints-api-configuration</filter-name>
            <filter-class>com.google.api.control.ServiceManagementConfigFilter</filter-class>
        </filter>

        <filter>
            <filter-name>endpoints-api-controller</filter-name>
            <filter-class>com.google.api.control.extensions.appengine.GoogleAppEngineControlFilter</filter-class>
            <init-param>
                <param-name>endpoints.projectId</param-name>
                <param-value>soft-lynx</param-value>
            </init-param>
            <init-param>
                <param-name>endpoints.serviceName</param-name>
                <param-value>someapi.endpoints.soft-lynx.cloud.goog</param-value>
            </init-param>
        </filter>

        <filter-mapping>
            <filter-name>endpoints-api-configuration</filter-name>
            <url-pattern>/_ah/api/*</url-pattern>
        </filter-mapping>

        <filter-mapping>
            <filter-name>endpoints-api-controller</filter-name>
            <url-pattern>/_ah/api/*</url-pattern>
        </filter-mapping>
    -->
</web-app>
